@import "tailwindcss";

:root {
  --background: rgb(255, 255, 255);
  --foreground: rgb(23, 23, 23);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: rgb(255, 255, 255);
    --foreground: rgb(10, 10, 10);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
